/*
 * Navbar CSS
 */

/* Toggle Styles */
#header-img{
    padding: 15px 0 15px 0;
}
#header-img img{
    width:300px;
    padding:10px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #4e5d6c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#monitor-list-settings{
    position: fixed;
    bottom: 0;
    padding: 0 0 20px 20px;
}

.currentMonitor{
    background-color: #2b3e50 !important;
}
.currentMonitor-1{
    border-bottom-color: #4e5d6c !important;
}

.nav-pills li a:hover{
    background-color: #465263 !important;
}
.nav-pills li{
    border-bottom: solid #3e4e62 1px;
}
#main-nav a{
    font-family: PirulenRg-Regular;
    font-size: 0.9em;
}
#monitor-list{
    margin-top: 30px;
    margin-bottom:75px;
    overflow:hidden;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}