@font-face {font-family: 'PirulenRg-Regular';
    src: url('media/2F0E49_0_0.eot');
    src: url('media/2F0E49_0_0.eot?#iefix') format('embedded-opentype'),
    url('media/2F0E49_0_0.woff2') format('woff2'),
    url('media/2F0E49_0_0.woff') format('woff'),
    url('media/2F0E49_0_0.ttf') format('truetype'),
    url('media/2F0E49_0_0.svg#wf') format('svg');}

.well {
    margin: 10px 10px 10px 10px;
    padding: 10px 24px 10px 24px;
    background-color: #465263;
}
.well a{
    color:white;
}

#col-home{
    border: dashed 5px #4f6474;
    border-radius: 2em;

}
.about table{
    font-size:1em;
}

.about a{
    color:white;
}

.about-header-sm{
    font-size:1.3em;
    margin-top:1em;
    margin-bottom:1em;
}
.about-title{
    padding:30px 0px 10px 0px;
}
.about-title h2{
    font-family: PirulenRg-Regular;
    font-size:1.5em;
    margin:5px;
}



.panel{
    margin-bottom: 20px !important;
    overflow: hidden;
    word-wrap: break-word;
}
.panel-2{
    height:126px;
}
.panel-3{
    height:199px;
}
.panel-4{
    height:272px;
}
.panel-6{
    height:418px;
}
.panel-8{
    height:564px;
}
.panel-full{
    padding:0 !important;
}


