<!DOCTYPE html>
<html lang="en" ng-app="mcmdApp">
    <head>

        <!--APPLICATION SETUP-->
        <!--AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css" />
        <!--Angular UI Bootstrap-->
        <script src="angular-ui-bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
        <!--Application-->
        <script src="app-mcmd.module.js"></script>
        <script src="app-mcmd.config.js"></script>
        <!--Nav bar-->
        <script src="navigation/nav.controller.js"></script>
        <script src="navigation/nav.directive.js"></script>
        <link rel="stylesheet" href="navigation/nav.css" />
        <!--Monitors Modals-->
        <script src="monitors/monitors.controller.js"></script>
        <script src="monitors/modal.controller.js"></script>
        <script src="monitors/current-monitors.service.js"></script>
        <script src="monitors/available-monitors.service.js"></script>
        <!--UI Grid-->
        <script src="monitors/ui-grid/ui-grid.js"></script>
        <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
        <!--<link rel="stylesheet" href="monitors/ui-grid/ui-grid.css" type="text/css"/>-->
        <link rel="stylesheet" href="monitors/ui-grid/ui-grid.custom.css" />
        <!--App Level Custom CSS-->
        <link rel="stylesheet" href="app.custom.css"/>

        <!--DASHBOARD VIEWS-->
        <link rel="stylesheet" href="dashboard-views/air-traffic/air-traffic.css" />
        <script src="dashboard-views/area-weather/area-weather.controller.js"></script>
        <script src="dashboard-views/area-weather/area-weather.service.js"></script>
        <!--WIDGETS-->

        <script src="widgets/single-element/single-element.controller.js"></script>
        <script src="widgets/single-element/single-element.directive.js"></script>
        <link rel="stylesheet" href="widgets/single-element/single-element.css" />


        <script src="widgets/weather-map/weather-map.directive.js"></script>
        <script src="widgets/weather-map/weather-map.controller.js"></script>
        <script src="widgets/weather-map/weather-map.service.js"></script>


        <script src="widgets/satellite-image/satellite-image.controller.js"></script>
        <script src="widgets/satellite-image/satellite-image.directive.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div id="header-img">
                    <img src="media/mcmd-logo-gray.jpg" alt="MCMD-logo"/>
                </div>
                <div class="well well-lg">
                    <small>Version 1.0</small><br>
                    <small>Last Updated 08:31:2015</small><br>
                    <small><a href="http://robertclark.io">RobertClark.io</a> </small>
                </div>
                <div id="monitor-list" ng-controller="NavController">

                    <ul id="main-nav" class="nav nav-pills nav-stacked">
                        <li role="presentation" ng-repeat="monitor in monitorList track by $index">
                            <a href="#/dashboard-view/{{monitor.controlValue}}">{{monitor.title}}</a>
                        </li>
                    </ul>

                </div>
                <div id="monitor-list-settings" class="button-group " role="group" ng-controller="MonitorsController">

                    <button type="button" class="btn btn-primary" ng-click="open('lg')">Monitors</button>
                    <button type="button" class="btn btn-primary">Loop</button>
                </div>
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">

                    <div ng-view></div>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
    <!-- /#wrapper -->

    </body>
</html>
