<div class="modal-header">
    <h4 class="modal-title">Add Available Monitors to Dashboard</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div id="gridAvailableMonitors" ui-grid="gridAvailableMonitors" ui-grid-selection class="grid"></div>

            <form ng-submit="addMonitor()" ng-show="addButtonState">
                <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="submit" >Add ></button>
                    </span>
                    <input type="text" class="form-control" ng-model="newMonitorName" required>
                </div>
            </form>


        </div>
        <div class="col-md-6">
            <div id="gridCurrentMonitors" ui-grid="gridCurrentMonitors" ui-grid-selection class="grid"></div>

            <button type="button" class="btn btn-danger" ng-click="removeMonitors()">Remove</button>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">Close</button>
</div>